# DB engine: SQL, JPA, levelDB
db_engine=SQL

# DB username (only for MySQL)
db_user=root

# DB password (comment in case no password is needed) (only for MySQL)
db_password=your_password

# DB name (only for MySQL)
db_name=Task0

# DB uri (only for MySQL and LevelDB (path to file))
db_uri=localhost:3306
